<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfumeria Plumex | Promociones de la semana</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header>
        <img src="../imagenes/LogoPlumex.png">
            <nav>
                <p><a href="../index.html">Inicio</a></p>
                <p>Categorias</p>
                <p><a href="contacto.html">Conctacto</a></p>
            </nav>
    </header>

    <main>
        <table border="2px" cellpadding="20px">
            <tr>
                <caption class="tituloTabla">Promocion de la Semana!</caption>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Oferta</th>
            </tr>
            <tr>
                <td><img src="../imagenes/head and shoulders.png"></td>
                <td><a href="../productos/headandshouldersclassicclean.html">Pack shampoo y acondicionador Classic Clean</a></td>
                <td><img src="../imagenes/20descuento.jpg"></td>
            </tr>
        </table>
    </main>
    <footer class="colorFondo">
        
        <table  class="table" border="1" cellpadding="40px">
            <tr>
                <td><h2 class="tituloFoot">Nosotros</h2></td>
                <td><h2 class="tituloFoot">Proveedores</h2>
                <td><h2 class="tituloFoot">Proveedores</h2>
                <td><h2 class="tituloFoot">Nuestra Empresa</h2></td>
                <td><h2 class="tituloFoot">¿Necesitás ayuda?</h2></td>    
                <td><h2 class="tituloFoot">¿Donde estamos?</h2></td>
            </tr>
            <tr>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td><h6 a href="tel:+48521544">48521544</a>|<a href="views/contacto.html">Contacto</a></h6></td>
                <td><h6 style=font-size:15px><a href="views/ubicacion.html">Ubicación</h6></td>
            </tr>
        </table>
            <h6 style= text-align:center><a href="#top">Ir al cielo</a></h6>
    </footer>
</body>
</html>